/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #252934;
}

#game {
  /* background-color: rgb(20, 32, 49); */
}

/* .App {
  height: 300vh;
} */

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-semibold";
  src: url("./fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-bold";
  src: url("./fonts/Raleway-Bold.ttf");
}

.fixed-navbar-container .navbar {
  background-color: #1b242f;
  border-bottom: 3px solid #04c2c9;
  color: white;
  width: 100%;
  height: 50px;
  font-family: "Raleway";
  font-size: 12pt;
  display: flex;
  align-items: center;
  z-index: 1000000000000000000;
}

.relative-navbar-container .navbar {
  background-color: #1b242f;
  border-bottom: 3px solid #04c2c9;
  color: white;
  width: 100%;
  height: 50px;
  font-family: "Raleway";
  font-size: 12pt;
  display: flex;
  align-items: center;
  z-index: 1000000000000000000;
}

.fixed-navbar-container .navbar-placeholder {
  height: 50px;
}

.relative-navbar-container .navbar-placeholder {
  height: 0px;
}

.navbar-item {
  margin-left: 20px;
  margin-right: 20px;
}

.active {
  color: #e31b6d;
}


#canvas-container {
  height: 100vh;
}
.navbar-item:hover {
  cursor: pointer;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.relative {
  position: relative;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  width: 100%;
  height: 100%;
}

.page-section {
  /* height: 100vh; */
  width: 100%;
  padding: 100px 0 130px 0;
  margin-bottom: -1px;
}

.small-title {
  color: #616161;
  font-size: 18pt;
  font-family: "Raleway-bold";
  margin: 20px 0 15px 0;
}

#about {
  background-color: white;
  padding-bottom: 150px; 
}

.about-link {
  color: #009ada;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

#skills {
  background-color: #f5f5f5;
}

/* <div id="skill-list">
<div className="skill-container"> <div className="skill-offset"/> <div className="skill">React</div><div className="skill-checkmark"></div></div> */

#skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 4vw;
  min-height: 400px;
}

#skills-title {
  margin-top: -20px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.skill-container {
  display: flex;
  height: 28px;
  margin-bottom: 15px;
  animation-name: skill-hover-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.skill-container:hover {
  animation-name: skill-hover-in;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes skill-hover-in {
  from { 
    height: 28px;
    margin-bottom: 15px;
    margin-top: 0px;
    /* padding-right: 0;
    padding-left: 0; */
  }
  to { 
    height: 36px;
    margin-bottom: 10px;
    margin-top: -5px;
    /* padding-right: 8px;
    padding-left: 8px;  */
  }
}

@keyframes skill-hover-out {
  from { 
    height: 36px; 
    margin-bottom: 10px;
    margin-top: -5px;
  }
  to { 
    height: 28px; 
    margin-bottom: 15px;
    margin-top: 0px;
  }
}

.skill-offset {
  margin-left: 4.6vw;
  height: 0;
  width: 0;
}

.skill {
  height: 100%;
  background-color: #04c2c9;
  width: 150px;
  color: white;
  font-family: "Raleway-bold";
  font-size: 11pt;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skill-bar {
  /* background-color: #00a1a7; */
  background-image: linear-gradient(to right,#00a1a7, #04c2c9);
  width: calc(60vw - 128px);
  height: 100%;
}

.skill-checkmark {
  height: 100%;
  width: 18px;
  background-color: #04c2c9;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 16pt;
  background-image: url("./images/checkmark.png");
  background-size: 25px;
  background-position: left; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

#projects {
  background-color: white;
  padding-bottom: 150px;
}

/* <div id="project-list">
<div className="project">
    <h3 className="project-title">A Project</h3>
    <h6 className="project-subtitle">React / Python</h6>
    <div className="learn-more-button">LEARN MORE</div> */

#tally-project {
  background-image: url("./images/tally.PNG");
  background-size: cover;
  background-position-x: left; /* Center the image */
  background-position-y: top;
  background-repeat: no-repeat; /* Do not repeat the image */
}
#covid-project {
  background-image: url("./images/covid-tracker.PNG");
  background-size: cover;
  background-position: left; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
#pycity-project {
  background-image: url("./images/pycity.PNG");
  background-size: cover;
  background-position: left; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
#digdug-project {
  background-image: url("./images/digdug.png");
  background-size: cover;
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
#project5 {
  background-color: cornflowerblue;
}
#project6 {
  background-color: maroon;
}

#project-list {
  display: flex;
  max-width: 1170px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

.project {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  animation-name: project-hover-out;
  animation-duration: .5s;
}

.project:hover {
  opacity: 1;
  animation-name: project-hover-in;
  animation-duration: .5s;
}

.project:hover .project-title {
  animation-name: project-hover-title-in;
  animation-duration: .5s;
}

.project:hover .learn-more-button {
  animation-name: project-hover-button-in;
  animation-direction: forwards;
  animation-duration: .5s;
}

@keyframes project-hover-button-in {
  from { 
    margin-bottom: 0px; 
  }
  to { 
    margin-bottom: 75px; 
  }
}

@keyframes project-hover-button-out {
  from { 
    margin-bottom: 75px; 
  }
  to { 
    margin-bottom: 0px; 
  }
}

@keyframes project-hover-title-in {
  from { 
    margin-top: 0px; 
  }
  to { 
    margin-top: 75px; 
  }
}

@keyframes project-hover-title-out {
  from { 
    margin-top: 75px; 
  }
  to { 
    margin-top: 0px; 
  }
}

@keyframes project-hover-in {
  from { 
    opacity: 0; 
  }
  to { 
    opacity: 1; 
  }
}

@keyframes project-hover-out {
  from { 
    opacity: 1; 
  }
  to { 
    opacity: 0; 
  }
}

.project-container {
  width: 390px;
  height: 300px;
}

.empty-project {
  width: 390px;
  height: 300px;
  background-image: linear-gradient(to bottom right, white,rgba(0, 0, 0, 0.144));
}

.project-title {
  font-family: "Raleway-bold";
  font-size: 16pt;
  color: #1b242f;
  text-align: center;
  line-height: 18pt;
  margin-top: 75px;
  animation-name: project-hover-title-out;
  animation-duration: .5s;
}

#project-popup {
  z-index: 10000000000000;
  position: fixed;
  width: 100vw;  
  height: 100vh;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0, 0, 0, 0.582);
}

#project-popup-contents {
  z-index: 10000000000000;
  width: 700px;
  left: 25%;  
  right: 25%;  
  top: 3%;  
  position: absolute; 
  margin: auto;  
  background-color: white;
  max-height: 95vh;
  overflow-y: auto;
}

/* <div id="project-popup">
<div id="project-popup-contents">
    <img src="TODO add source dynamically" id="project-popup-image"></img>
    <div id="project-popup-title">TODO add text dynamically</div>
    <div id="project-popup-subtitle">TODO add text dynamically</div>
    <div id="project-popup-linebreak"></div>
    <div id="project-popup-text">TODO add text dynamically</div>
    <div className="project-popup-info">
        <div id="project-popup-link-list">
            <a>View Site</a>
            <a>GitHub</a>
            <a>Other</a>
        </div>
        <div id="project-popup-close"></div>
        </div>
</div>
</div> */
#project-popup-info {
  padding: 35px 60px 0 25px;
}

#project-popup-title {
  font-size: 22pt;
  line-height: 35pt;
  font-family: "Raleway-bold";
  color: #444;
}

#project-popup-subtitle {
  font-size: 11pt;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #c0c0c0;
  font-family: "Raleway-bold";
  font-weight: 300;
  padding-bottom: 15px;
}

#project-popup-text {
  font-size: 11pt;
  line-height: 18pt;
  margin-top: 15px;
  color: #444;
  text-align: left;
  font-family: "Raleway";
}

#project-popup-image {
  width: 100%;
  height: auto;
}

/* <div id="project-popup-controls">
<div id="project-popup-link-list">
    <a>View Site</a>
    <a>GitHub</a>
    <a>Other</a>
</div>
<div id="project-popup-close"></div>
</div> */

#project-popup-controls {
  display: flex;
  align-items: center;
  width: 100%;

}

#project-popup-link-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 30px;
}

#project-popup-link-list a {
  color: #e31b6d;
  font-family: "Raleway-bold";
  font-size: 12pt;
  text-decoration: none;
}

#project-popup-link-list div {
  padding-top: 10px;
}

#project-popup-close {
  background-image: url("./images/close-gray.png");
  background-size: 24px;
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 50px;
  width: 50px;
  margin-top: auto;
  margin-right: -45px;
  cursor: pointer;
}

.learn-more-button {
  color: #1b242f;
  text-align: center;
  border: 2px solid #e31b6d;
  font-size: 13pt;
  padding: 7px 0;
  width: 170px;
  font-family: "Raleway";
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 75px;
  animation: project-hover-button-out .5s forwards;
}

.learn-more-button:hover {
  color: white;
  background-color: #e31b6d;
}


.project-subtitle {
  color: #e31b6d;
  text-align: center;
  font-family: "Raleway";
  font-size: 12pt;
  line-height: 18pt;
}

#contact {
  background-color: #252934;
  height: calc(100vh - 380px);  
  min-height: 450px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#contact-subtitle { 
  color: #04c2c9;
  font-size: 12pt;
  font-family: "Raleway";
  margin: 50px 0px;
  font-weight: 600;
  padding: 0px 20px;
  text-align: center;
  line-height: 17pt;
}

#contact-methods {
  margin-top: 40px;
  margin-bottom: 30px;
  color: white;
  font-family: "Raleway";
  font-size: 10pt;
  text-align: center;
}

#contact-email {
  color: #e31b6d;
  text-decoration: none;
  font-weight: 600;
}

/* <form id="contact-form">
<input className="contact-form-input" id="name"></input>
<input className="contact-form-input" id="email"></input>
<textarea className="contact-form-input" id="message"></textarea>
<div id="success">Your message was sent successfully. Thanks!</div><div id="submit-button">SUBMIT</div>
</form> */

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 530px;
}

.contact-form-input {
  width: 500px;
  border: none;
  padding: 10px 15px;
  background-color: #1e242c;
  caret-color: white;
  font-size: 12pt;
  margin-bottom: 5px;
  color: white;
}

#message {
  height: 150px;
  min-width: 500px;
  resize: none;
}

#tap-for-info {
  display: none;
}

#mobile-navbar {
  display: none;
}

.contact-form-input:focus {
  box-shadow: none;
  outline: none;
}

#submit-button {
  padding: 10px 30px;
  outline: none;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 12pt;
  font-family: "Arial";
  color: white;
  animation: submit-hover-out .5s forwards;
  margin-left: auto;
  margin-top: 5px;
}

#success {
  font-family: "Raleway";
  font-size: 10pt;
  font-weight: 600;
  width: 530px;
  height: 36px;
  text-align: center;
  background-color: #04c986;
  border: 1px solid #157c59;
  color: #157051;
  display: flex;
  align-items: center;
  justify-content: center;
}

#success-text {
  text-align: center;
  width: 100%;
  padding-left: 36px;
}

#success-close {
  text-align: center;
  width: 36px;
  padding-left: 10px;
  cursor: pointer;
  background-image: url("./images/close.png");
  background-size: 18px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100%;
}

#success-hidden {
  display: none;
}

#submit-button:hover {
  animation: submit-hover-in .5s forwards;
}

@keyframes submit-hover-out {
  from { 
    background-color: #04c2c9; 
    border-color: #04c2c9;
  }
  to { 
    background-color: transparent; 
    border-color: #fff;
  }
}

@keyframes submit-hover-in {
  from { 
    background-color: transparent; 
    border-color: #fff;
  }
  to { 
    background-color: #04c2c9; 
    border-color: #04c2c9; 
  }
}

#footer {
  height: 228px;
  background-color: #1b242f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link {
  width: 55px;
  height: 55px;
  background-color: #262f38;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  margin: 0px 15px;
}

.footer-link:hover {
  margin: 2.5px 17.5px;
  width: 50px;
  height: 50px;
  background-color: #04c2c9;
}

#back-to-top {
  color: white;
  background-color: #e31b6d;
  width: 47px;
  height: 50px;
  background-image: url("./images/backtotop-icon.png");
  background-size: 25px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#back-to-top:hover {
  width: 44px;
  height: 47px;
  background-color: #f51e78;
}

#linkedin-icon {
  background-image: url("./images/linkedin-icon.png");
  background-size: 30px;
}

#github-icon {
  background-image: url("./images/github-icon.png");
  background-size: 30px;
}

#twitter-icon {
  background-image: url("./images/twitter-icon.png");
  background-size: 40px;
}

#signature {
  margin-top: 35px;
  margin-bottom: 5px;
}

.copyright {
  color: #8f9aa7;
  font-size: 10pt;
  opacity: .6;
  text-align: center;
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  letter-spacing: 1pt;
  padding: 3px 20px;
}

#copyright-year {
  color: #e31b6d;
  margin-left: 5px;
  text-decoration: none;
}

.section-title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  color: #444649;
  font-size: 30pt;
  font-family: "raleway-bold";
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-row-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-image {
  margin-bottom: 25px;
  width: 300px;
  height: 300px;
}

#about-title {

}

#about-text {
  font-size: 14pt;
  line-height: 20pt;
  padding: 0px 20px;
}

.text {
  color: #616161;
  font-size: 12pt;
  font-family: "Raleway";
  line-height: 18pt;
  text-align: center;
}

#contact-title {
  color: white;
}

#contact-title-underline {
  background-color: white;
  margin-bottom: 0;
}

.section-title-underline {
  background-color: #444649;
  height: 4px;
  width: 70px;
  margin: 25px 0 100px 0;
}

.slide-in-left {
    animation: slideInLeft 0.75s ease both;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-name: slideInLeft;
}

#preGame {
  display: flex;
  width: 100%;
  height:100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#preGameText {
  display: inline-block;
  resize: none;
  background-color: transparent;
  border: none;
  text-align: center;
  color: white;
  font-size: clamp(12px, 3vw, 30px);
  margin-top: 8vh;
  padding: 1px;
  font-family: 'Raleway';
  white-space: pre;
  line-height: 40px;

}

#preGame button {
  background-color: transparent;
  border: none;
  text-align: center;
  color: #e31b6d;
  font-size: 35px;
  font-family: "Raleway";
  width: 5vw;
  min-width: 200px;
  cursor: pointer;
  margin-bottom: 1vh;
}

#preGame button:hover {
  font-weight: 600;
}

.columnPadding { 
  flex-grow: 1;
}

.gameOver {
  display: flex;
  width: 100vw;
  height:100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameOver h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 10vh;
  width: 75vw;
  font-family: Arial;
}

.gameOver button {
  background-color: transparent;
  border: none;
  text-align: center;
  color: white;
  font-size: 30px;
  width: 10vw;
  max-width: 300px;
}

.gameTextLink {
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid;
}

.gameTextLink:hover {
  font-weight: 700;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

@media screen and (max-width: 530px) {
  .contact-form-input {
    width: 80vw;
    min-width: 50px !important;
  }

  #contact-form {
    width: 80vw;
  }

  #contact {
    height: calc(100vh - 345px);
    min-height: 550px;
  }

  #copyright-year {
    display: contents;
  }

  .project-container {
    width: 90vw;
    margin-bottom: 20px;
  }

  #tap-for-info {
    display: flex;
    color: #616161;
    font-size: 18pt;
    font-family: "Raleway-bold";
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 50px;
  }

  #project-popup-contents {
    width: 100vw;
    top: 5vh;
    left: 0;
    right: 0;

  }

  #hamburger {
    background-image: url("./images/hamburger.svg");
    background-size: 24px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 50px;
    width: 50px;
    margin-left: auto;
    padding-left: 5px;
  }

  .navbar {
    display: none !important;
  }

  .fixed-navbar-container .mobile-navbar {
    background-color: #1b242f;
    border-bottom: 3px solid #04c2c9;
    color: white;
    width: 100%;
    height: 50px;
    font-family: "Raleway";
    font-size: 12pt;
    display: flex;
    align-items: center;
    z-index: 100000;
  }

  .relative-navbar-container .mobile-navbar {
    background-color: #1b242f;
    border-bottom: 3px solid #04c2c9;
    color: white;
    width: 100%;
    height: 50px;
    font-family: "Raleway";
    font-size: 12pt;
    display: flex;
    align-items: center;
    z-index: 100000;
  }

  #mobile-nav-contents {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1b242f;
    z-index: 1000000005;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-navbar-item {
    color: white;
    font-family: "Raleway";
    font-size: 12pt;
    height: calc(40vh / 5);
  }

  .active {
    color: #e31b6d;
  } 

  #open-hamburger {
    background-image: url("./images/hamburger.svg");
    background-size: 24px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 50px;
    width: 50px;
    margin-left: auto;
    /* padding-left: 5px;
    margin-top: 7px; */
    position: fixed;
    top: 0px;
    right: 2px;
    z-index: 1000000000000000002;
  }

  .empty-project {
    display: none;
  }
}