/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #252934;
}

#game {
  /* background-color: rgb(20, 32, 49); */
}

/* .App {
  height: 300vh;
} */

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-semibold";
  src: url("./fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-bold";
  src: url("./fonts/Raleway-Bold.ttf");
}

.fixed-navbar-container .navbar {
  background-color: #1b242f;
  border-bottom: 3px solid #04c2c9;
  color: white;
  width: 100%;
  height: 50px;
  font-family: "Raleway";
  font-size: 12pt;
  display: flex;
  align-items: center;
}

.relative-navbar-container .navbar {
  background-color: #1b242f;
  border-bottom: 3px solid #04c2c9;
  color: white;
  width: 100%;
  height: 50px;
  font-family: "Raleway";
  font-size: 12pt;
  display: flex;
  align-items: center;
}

.fixed-navbar-container .navbar-placeholder {
  height: 50px;
}

.relative-navbar-container .navbar-placeholder {
  height: 0px;
}

.navbar-item {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-item:hover {
  cursor: pointer;
}

#navbar-item-selected {
  color: #e31b6d;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.relative {
  position: relative;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  width: 100%;
  height: 100%;
}

.page-section {
  /* height: 100vh; */
  width: 100%;
  padding: 100px 0 130px 0;
}

.small-title {
  color: #616161;
  font-size: 18pt;
  font-family: "Raleway-bold";
  margin: 20px 0 15px 0;
}

#about {
  background-color: white;
  padding-bottom: 150px; 
}

#skills {
  background-color: #f5f5f5;
}

/* <div id="skill-list">
<div className="skill-container"> <div className="skill-offset"/> <div className="skill">React</div><div className="skill-checkmark"></div></div> */

#skill-list {
  display: flex;
  flex-direction: column;
  padding-left: 8vw;
}

.skill-container {
  display: flex;
  height: 28px;
  margin-bottom: 15px;
}

.skill-offset {
  margin-left: calc(28vw / 6);
  height: 0;
  width: 0;
}

.skill {
  height: 28px;
  background-color: #04c2c9;
  width: 100px;
  color: white;
  font-family: "Raleway-bold";
  font-size: 11pt;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skill-bar {
  /* background-color: #00a1a7; */
  background-image: linear-gradient(to right,#00a1a7, #04c2c9);
  width: calc(60vw - 128px);
  height: 28px;
}

.skill-checkmark {
  height: 18px;
  width: 18px;
  background-color: #04c2c9;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 16pt;
}

#projects {
  background-color: white;
}

#contact {
  background-color: #252934;
  height: calc(100vh - 458px);
}

#footer {
  height: 228px;
  background-color: #1b242f;
}

.section-title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  color: #444649;
  font-size: 30pt;
  font-family: "raleway-bold";
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-row-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-image {
  margin-bottom: 65px;
}

#about-title {

}

.text {
  color: #616161;
  font-size: 12pt;
  font-family: "Raleway";
  line-height: 18pt;
  text-align: center;
}

#contact-title {
  color: white;
}

#contact-title-underline {
  background-color: white;
}

.section-title-underline {
  background-color: #444649;
  height: 4px;
  width: 70px;
  margin: 25px 0 100px 0;
}

.slide-in-left {
    animation: slideInLeft 0.75s ease both;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-name: slideInLeft;
}

#preGame {
  display: flex;
  width: 100%;
  height:100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#preGameText {
  display: inline-block;
  resize: none;
  background-color: transparent;
  border: none;
  text-align: center;
  color: white;
  font-size: clamp(12px, 3vw, 30px);
  margin-top: 8vh;
  padding: 1px;
  font-family: 'Raleway';
  white-space: pre;
  line-height: 40px;

}

#preGame button {
  background-color: transparent;
  border: none;
  text-align: center;
  color: #e31b6d;
  font-size: 35px;
  font-family: "Raleway";
  width: 5vw;
  min-width: 200px;
  cursor: pointer;
  margin-bottom: 1vh;
}

#preGame button:hover {
  font-weight: 600;
}

.columnPadding { 
  flex-grow: 1;
}

.gameOver {
  display: flex;
  width: 100vw;
  height:100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameOver h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 10vh;
  width: 75vw;
  font-family: Arial;
}

.gameOver button {
  background-color: transparent;
  border: none;
  text-align: center;
  color: white;
  font-size: 30px;
  width: 10vw;
  max-width: 300px;
}

.gameTextLink {
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid;
}

.gameTextLink:hover {
  font-weight: 700;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}